<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003072900338-8ibpnurc086ppbrrjrt31d4qnjj637cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003072900338-8ibpnurc086ppbrrjrt31d4qnjj637cn</string>
	<key>API_KEY</key>
	<string>AIzaSyCZy51onu8aMS5H-hWymnM7Wp7PwvwMRR8</string>
	<key>GCM_SENDER_ID</key>
	<string>1003072900338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstapp20211111</string>
	<key>PROJECT_ID</key>
	<string>my-colle-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-colle-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003072900338:ios:c19a6e12aca5b3fc81d46b</string>
</dict>
</plist>